/* Sticky Footer CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
